# Configuration for coverage.py

[run]
branch = True
source = skimage
include = */skimage/*
omit =
    */setup.py
    */skimage/external/*

[report]
exclude_lines =
    def __repr__
    if __name__ == .__main__.:
