.cache
__pycache__
*.pyc
*~
*#
.#*
*egg-info
*.so
*.pyd
*.bak
*.c
*.cpp
*.new
*.md5
*.old
.DS_Store
.pytest_cache
temp.tif
.ropeproject
doc/source/api
doc/build
source/api
build
dist
skimage/version.py
*.swp
.coverage
doc/source/auto_examples/**/*
doc/source/_static/random.js
.idea/
*.log
doc/release/_release_notes_for_docs.rst
doc/gh-pages
wheels
skimage/morphology/_skeletonize_3d_cy.pyx
.asv
.vscode/
