*.pyc
*~
*#
*egg-info
*.so
*.pyd
*.bak
*.c
*.new
*.md5
*.old
doc/source/api
doc/build
doc/_prebuild
source/api
build
dist
skimage/version.py
*.swp
.coverage
doc/source/auto_examples/*.py
doc/source/auto_examples/*.txt
doc/source/auto_examples/notebook
doc/source/auto_examples/images/plot_*.png
doc/source/auto_examples/images/thumb
doc/source/auto_examples/applications/
doc/source/_static/random.js
.idea/
*.log
