K.-Michael Aye <michaelaye@users.noreply.github.com> <kmichael.aye@gmail.com>
Nelson Brown <nelson.brown@gmail.com> <nelson.a.brown@nasa.gov>
Luis Pedro Coelho <luis@luispedro.org> <lpc@cmu.edu>
Marianne Corvellec <marianne.corvellec@ens-lyon.org> <mcorvellec@april.org>
Riaan van den Dool <riaanvddool@gmail.com> <rvddool@csir.co.za>
Emmanuelle Gouillart <emmanuelle.gouillart@normalesup.org> <emma@aleph.(none)> <gouillar@epsilon.(none)> <emmanuelle.gouillart@nsup.org> <gouillar@aleph.(none)>
Thouis (Ray) Jones <thouis@gmail.com> <thouis@seas.harvard.edu>
Gregory R. Lee <gregory.lee@cchmc.org> <grlee77@gmail.com>
Andreas Mueller <amueller@ais.uni-bonn.de> <andreas@wuerl.net>
Juan Nunez-Iglesias <juan.n@unimelb.edu.au> <jni.soma@gmail.com> <jni@janelia.hhmi.org>
Nicolas Pinto <pinto@alum.mit.edu> <nicolas.pinto@gmail.com>
Johannes Schönberger <jsch@demuc.de> <ahojnnes@users.noreply.github.com> <hannesschoenberger@gmail.com> <jschoenberger@demuc.de>
Tim Sheerman-Chase <tim2009@sheerman-chase.org.uk> <t.sheerman-chase@surrey.ac.uk>
Matthew Trentacoste <trentaco@adobe.com> <web@matttrent.com>
James Turner <jturner@gemini.edu> <jehturner@yahoo.co.uk>
Stefan van der Walt <stefanv@berkeley.edu> <stefan@sun.ac.za> <github@mentat.za.net> <sjvdwalt@gmail.com>
John Wiggins <jwiggins@enthought.com> <john.wiggins@xfel.eu>
Tony S Yu <tyu@tony-yus-macbook.local> <tsyu80@gmail.com>
François Boulogne <fboulogne sciunto org> <devel@sciunto.org>
