# vim ft=yaml

# After changing this file, check it on:
#   http://lint.travis-ci.org/

# The conda installation part was taken from Dan Blancahrd's gist
# https://gist.github.com/dan-blanchard/7045057

language: python
matrix:
    include:
        - python: "2.7"
          env:
            - PYTHON=python PYTHONWARNINGS=all PYTHONX=python PYVER=2.x
        - python: "3.3"
          env:
            - PYTHON=python3 PYTHONWARNINGS=all PYTHONX=python3 PYVER=3.x


before_install:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    
    - sudo apt-get update
    - sudo apt-get install libc6
    - sudo apt-get install libfreeimage3
    - sudo apt-get install libjpeg62



install:
    
    - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b
    - export PATH=/home/travis/miniconda/bin:$PATH
    - conda update --yes conda
    - conda update -q conda

    # Useful for debugging any issues with conda
    - conda info -a

    - conda install --yes python=$TRAVIS_PYTHON_VERSION matplotlib setuptools pillow cython flake8 networkx numpy scipy six pyqt
    - conda install --yes -c dan_blanchard python-coveralls nose-cov

    - python check_bento_build.py

    - conda list
    - 
    - tools/header.py "Dependency versions"
    - tools/build_versions.py

    - python setup.py build_ext --inplace
    - python plugin_debug.py

script:
    # Matplotlib settings
    - mkdir -p $HOME/.matplotlib
    - touch $HOME/.matplotlib/matplotlibrc
    - "echo 'backend : Agg' > $HOME/.matplotlib/matplotlibrc"
    - "echo 'backend.qt4 : PyQt4' >> $HOME/.matplotlib/matplotlibrc"

    # .coveragerc assumed by default
    # Run all tests
    - if [[ $PYVER == '3.x' ]]; then
    -   nosetests --exe -v --with-doctest --with-cov --cover-package skimage
    - fi
    - if [[ $PYVER == '2.x' ]]; then
    -   nosetests --exe -v --with-doctest skimage
    - fi
    # Run all doc examples
    - export PYTHONPATH=$(pwd):$PYTHONPATH
    - for f in doc/examples/*.py; do $PYTHONX "$f"; if [ $? -ne 0 ]; then exit 1; fi done
    - for f in doc/examples/applications/*.py; do $PYTHONX "$f"; if [ $? -ne 0 ]; then exit 1; fi done

    # Run pep8 and flake tests
    - flake8 --exit-zero --exclude=test_*,six.py skimage doc/examples viewer_examples

after_success:
    - if [[ $PYVER == '3.x' ]]; then
    -   coveralls
    - fi
