[build-system]
requires = [
    "wheel",
    "setuptools<=51.0.0",
    "Cython>=0.29.18",
    # We follow scipy for much of these pinnings
    # https://github.com/scipy/scipy/blob/master/pyproject.toml
    "numpy==1.16.5; python_version=='3.7'",
    "numpy==1.17.3; python_version=='3.8'",
    "numpy==1.19.3; python_version=='3.9'",
    # do not pin numpy on future versions of python to avoid incompatible numpy and python versions
    "numpy; python_version>='3.10'",
]
