Build Requirements
------------------

* Python 2.6
* `Numpy <http://numpy.scipy.org/>`_
* `Scipy <http://www.scipy.org/>`_
* `Cython <http://www.cython.org/>`_

Optional Requirements
---------------------

You can use this Scikit with the basic requirements listed above, but additional libraries are required for image I/O and some image processing/analysis capabilities.

`Open CV <http://opencv.willowgarage.com/wiki/>`_ (>= 2.0). 
   Required for functions in ``scikits.image.opencv``.

`Python Imaging Library (PIL) <http://www.pythonware.com/products/pil/>`_
   Used for ``scikits.io.imread`` and ``scikits.io.imsave``.

`PyQt4 <http://wiki.python.org/moin/PyQt>`_
   Used for ``scikits.io.imshow``.

`PyGTK <http://www.pygtk.org/>`_
   Used for ``scikits.io.imshow``.
