name: Nightly Wheel builder
on:
  workflow_dispatch:
  schedule:
    - cron: "27 11 * * SUN" # every Sunday at 11:27 UTC
  push:
    branches:
      - maintenance/**

permissions:
  contents: read

jobs:
  call-workflow-build-wheels:
    uses: ./.github/workflows/wheels_recipe.yml
    with:
      CIBW_BUILD_FRONTEND: 'pip; args: --pre --extra-index-url "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple"'

  upload_anaconda:
    permissions:
      contents: write # for softprops/action-gh-release to create GitHub release
    name: Release
    needs: call-workflow-build-wheels
    if: github.repository_owner == 'scikit-image' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        id: download
        with:
          name: wheels
          path: ./dist

      - name: Upload wheel
        uses: scientific-python/upload-nightly-action@main
        with:
          artifacts_path: dist
          anaconda_nightly_upload_token: ${{secrets.UPLOAD_TOKEN}}
