name: Nightly Wheel builder
on:
  workflow_dispatch:
  schedule:
    - cron: "27 11 * * SUN" # every Sunday at 11:27 UTC
  push:
    branches:
      - maintenance/**

concurrency:
  # Cancel previous workflows on the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  call-workflow-build-wheels:
    uses: ./.github/workflows/wheels-recipe.yaml
    with:
      CIBW_ENVIRONMENT: >
        PIP_PRE=1
        PIP_EXTRA_INDEX_URL="https://pypi.anaconda.org/scientific-python-nightly-wheels/simple"
      # assert NumPy 2.0 before running tests
      CIBW_TEST_COMMAND: >
        pip list --pre --format=freeze | grep -q 'numpy==2' &&
        (cd .. && pytest --config-file ${{ github.workspace }}/pyproject.toml --pyargs skimage)

  upload_anaconda:
    permissions:
      contents: write # for softprops/action-gh-release to create GitHub release
    name: Release
    needs: call-workflow-build-wheels
    if: github.repository_owner == 'scikit-image' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        id: download
        with:
          pattern: wheels-*
          merge-multiple: true
          path: ./dist

      - name: Upload wheel
        uses: scientific-python/upload-nightly-action@82396a2ed4269ba06c6b2988bb4fd568ef3c3d6b # 0.6.1
        with:
          artifacts_path: dist
          anaconda_nightly_upload_token: ${{secrets.UPLOAD_TOKEN}}
