name: Test macOS

on: [push, pull_request, merge_group]

concurrency:
  # Cancel previous workflows of the same PR, but only for PRs
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  PYTEST: "pytest --config-file ${{ github.workspace }}/pyproject.toml"

jobs:
  test_skimage_macos:
    name: macos-cp${{ matrix.python-version }}
    runs-on: macos-13

    strategy:
      # Ensure that a wheel builder finishes even if another fails
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        OPTIONAL_DEPS: [1]
        OPTIONS_NAME: ["default"]
    env:
      CC: /usr/bin/clang
      CXX: /usr/bin/clang++
      CPPFLAGS: "-Xpreprocessor -fopenmp"
      CFLAGS: "-Wno-implicit-function-declaration -I/usr/local/opt/libomp/include"
      CXXFLAGS: "-I/usr/local/opt/libomp/include"
      LDFLAGS: "-Wl,-rpath,/usr/local/opt/libomp/lib -L/usr/local/opt/libomp/lib -lomp"

    steps:
      - name: Checkout scikit-image
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version}}
          allow-prereleases: true

      - name: OSX configuration
        run: |
          # OpenMP is not present on macOS by default
          brew install libomp

      - name: Install build dependencies
        run: |
          source .github/scripts/setup_build_env.sh

      - name: Build and install
        run: |
          pip install -v --no-build-isolation .

      - name: Install test dependencies
        env:
          OPTIONAL_DEPS: ${{ matrix.OPTIONAL_DEPS }}
        run: |
          source .github/scripts/setup_test_env.sh

      - name: Run tests
        run: |
          (cd .. && $PYTEST --doctest-plus --showlocals --pyargs skimage)

      - name: Check benchmarks
        run: |
          asv check -v -E existing

  test_docs_aarch64:
    name: macos-docs
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout scikit-image
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          allow-prereleases: true

      - name: Install build dependencies
        run: |
          source .github/scripts/setup_build_env.sh

      - name: Build and install from source
        run: |
          pip install -v --no-build-isolation .

      - name: Install test dependencies
        run: |
          source .github/scripts/setup_test_env.sh

      - name: Build docs / run examples
        run: |
          source .github/scripts/setup_docs_env.sh
          SPHINXCACHE=${HOME}/.cache/sphinx SPHINXOPTS="-W -j auto" make -C doc html
