# Workflow to build and test wheels
name: Test

on: [push, pull_request, merge_group]

concurrency:
  # Cancel previous workflows of the same PR, but only for PRs
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test_skimage_linux:
    name: linux-cp${{ matrix.python-version }}-${{ matrix.OPTIONS_NAME }}
    runs-on: ubuntu-latest

    strategy:
      # Ensure that a wheel builder finishes even if another fails
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

        # Dependency options for setup_test_env.sh
        MINIMUM_REQUIREMENTS: [0]
        OPTIONAL_DEPS: [0]
        WITHOUT_POOCH: [0]
        PIP_FLAGS: [""]

        # Flag that chooses between source and sdist build
        INSTALL_FROM_SDIST: [0]

        # Flags that control lazy-loader behavior
        EAGER_IMPORT: [0]

        # Python flags
        PYTHONOPTIMIZE: [0]

        # Flag to control naming of workflow job
        OPTIONS_NAME: ["default"]

        include:
          - platform_id: manylinux_x86_64
            python-version: "3.10"
            MINIMUM_REQUIREMENTS: 1
            OPTIONAL_DEPS: 0
            EAGER_IMPORT: 1
            OPTIONS_NAME: "mini-req-eager-import"
          - platform_id: manylinux_x86_64
            python-version: "3.10"
            MINIMUM_REQUIREMENTS: 1
            OPTIONAL_DEPS: 1
            OPTIONS_NAME: "mini-req-optional-deps"
          - platform_id: manylinux_x86_64
            python-version: "3.12"
            PIP_FLAGS: "--pre"
            OPTIONS_NAME: "pre"
          - platform_id: manylinux_x86_64
            python-version: "3.12"
            OPTIONAL_DEPS: 1
            OPTIONS_NAME: "optional-deps"
          - platform_id: manylinux_x86_64
            python-version: "3.12"
            PYTHONOPTIMIZE: 2
            WITHOUT_POOCH: 1
            OPTIONS_NAME: "optimize and no pooch"
          - platform_id: manylinux_x86_64
            python-version: "3.12"
            INSTALL_FROM_SDIST: 1
            OPTIONS_NAME: "install-from-sdist"

    steps:
      - name: Checkout scikit-image
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version}}
          allow-prereleases: true

      - name: Install build dependencies
        env:
          PIP_FLAGS: ${{ matrix.PIP_FLAGS }}
        run: |
          source tools/github/setup_build_env.sh

      - name: Build and install from source
        if: ${{ matrix.INSTALL_FROM_SDIST != 1 }}
        run: |
          pip install -vv --no-build-isolation .

      - name: Build and install from sdist
        if: ${{ matrix.INSTALL_FROM_SDIST == 1 }}
        run: |
          python -m build --no-isolation --skip-dependency-check --sdist .
          pip install dist/scikit_image-*.tar.gz

      - name: Install test dependencies
        env:
          MINIMUM_REQUIREMENTS: ${{ matrix.MINIMUM_REQUIREMENTS }}
          OPTIONAL_DEPS: ${{ matrix.OPTIONAL_DEPS }}
          WITHOUT_POOCH: ${{ matrix.WITHOUT_POOCH }}
          PIP_FLAGS: ${{ matrix.PIP_FLAGS }}
        run: |
          source tools/github/setup_test_env.sh

      - name: Run tests
        env:
          # A lazy loader configuration parameter
          EAGER_IMPORT: ${{ matrix.EAGER_IMPORT }}
        run: |
          (cd .. && pytest --doctest-plus --showlocals --pyargs skimage)

      - name: Check benchmarks
        run: |
          asv check -v -E existing

  test_skimage_linux_free_threaded:
    name: linux-cp313t-default
    runs-on: ubuntu-latest

    steps:
      - name: Checkout scikit-image
        uses: actions/checkout@v4

      # TODO: replace with setup-python when there is support
      - uses: deadsnakes/action@6c8b9b82fe0b4344f4b98f2775fcc395df45e494 # v3.1.0
        with:
          python-version: "3.13"
          nogil: true

      - name: Install build dependencies
        # See special clause inside setup_build_env.sh that detects when
        # free threaded build is used, and then installs dependencies
        # from nightly wheels
        run: |
          source tools/github/setup_build_env.sh

      - name: Build and install
        run: |
          pip install -vv --no-build-isolation .

      - name: Install test dependencies
        # See special clause inside setup_test_env.sh that detects when
        # free threaded build is used, and then installs dependencies
        # from nightly wheels
        run: |
          source tools/github/setup_test_env.sh

      - name: Run tests
        env:
          PYTHON_GIL: 0
          # A lazy loader configuration parameter
          EAGER_IMPORT: ${{ matrix.EAGER_IMPORT }}
        run: |
          (cd .. && pytest --doctest-plus --showlocals --pyargs skimage)

  test_skimage_macos:
    name: macos-cp${{ matrix.python-version }}
    runs-on: macos-13

    strategy:
      # Ensure that a wheel builder finishes even if another fails
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        OPTIONAL_DEPS: [1]
        OPTIONS_NAME: ["default"]
    env:
      CC: /usr/bin/clang
      CXX: /usr/bin/clang++
      CPPFLAGS: "-Xpreprocessor -fopenmp"
      CFLAGS: "-Wno-implicit-function-declaration -I/usr/local/opt/libomp/include"
      CXXFLAGS: "-I/usr/local/opt/libomp/include"
      LDFLAGS: "-Wl,-rpath,/usr/local/opt/libomp/lib -L/usr/local/opt/libomp/lib -lomp"

    steps:
      - name: Checkout scikit-image
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version}}
          allow-prereleases: true

      - name: OSX configuration
        run: |
          # OpenMP is not present on macOS by default
          brew install libomp

      - name: Install build dependencies
        run: |
          source tools/github/setup_build_env.sh

      - name: Build and install
        run: |
          pip install -vv --no-build-isolation .

      - name: Install test dependencies
        env:
          OPTIONAL_DEPS: ${{ matrix.OPTIONAL_DEPS }}
        run: |
          source tools/github/setup_build_env.sh

      - name: Run tests
        run: |
          (cd .. && pytest --doctest-plus --showlocals --pyargs skimage)

      - name: Check benchmarks
        run: |
          asv check -v -E existing

  test_docs_aarch64:
    name: macos-docs
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout scikit-image
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          allow-prereleases: true

      - name: Install build dependencies
        run: |
          source tools/github/setup_build_env.sh

      - name: Build and install from source
        run: |
          pip install -vv --no-build-isolation .

      - name: Install test dependencies
        run: |
          source tools/github/setup_test_env.sh

      - name: Build docs / run examples
        run: |
          source tools/github/setup_docs_env.sh
          SPHINXCACHE=${HOME}/.cache/sphinx make -C doc html
