name: Test macOS

on: [push, pull_request, merge_group]

concurrency:
  # Cancel previous workflows of the same PR, but only for PRs
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  PYTEST: "pytest --config-file ${{ github.workspace }}/pyproject.toml"

jobs:
  test_skimage_macos:
    name: macos-cp${{ matrix.python-version }}
    runs-on: macos-13

    strategy:
      # Ensure that a wheel builder finishes even if another fails
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        OPTIONAL_DEPS: [1]
        OPTIONS_NAME: ["default"]
    env:
      CC: /usr/bin/clang
      CXX: /usr/bin/clang++
      CPPFLAGS: "-Xpreprocessor -fopenmp"
      CFLAGS: "-Wno-implicit-function-declaration -I/usr/local/opt/libomp/include"
      CXXFLAGS: "-I/usr/local/opt/libomp/include"
      LDFLAGS: "-Wl,-rpath,/usr/local/opt/libomp/lib -L/usr/local/opt/libomp/lib -lomp"

    steps:
      - name: Checkout scikit-image
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version}}
          allow-prereleases: true
          cache: "pip"
          cache-dependency-path: "requirements/*.txt"

      - name: OSX configuration
        run: |
          # OpenMP is not present on macOS by default
          brew install libomp

      - name: Install build dependencies
        run: |
          source .github/scripts/setup-build-env.sh

      - name: Build and install
        run: |
          pip install -v --no-build-isolation .

      - name: Install test dependencies
        env:
          OPTIONAL_DEPS: ${{ matrix.OPTIONAL_DEPS }}
        run: |
          source .github/scripts/setup-test-env.sh

      - name: Run tests
        run: |
          (cd .. && $PYTEST --doctest-plus --showlocals --pyargs skimage)

      - name: Check benchmarks
        run: |
          asv check -v -E existing

  test_skimage_macos_free_threaded:
    name: macos-cp313t-default
    runs-on: macos-latest

    steps:
      - name: Checkout scikit-image
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@9e62be81b28222addecf85e47571213eb7680449
        name: Install Python
        with:
          python-version: "3.13t"

      - name: Install build dependencies
        # See special clause inside setup-build-env.sh that detects when
        # free threaded build is used, and then installs dependencies
        # from nightly wheels
        env:
          PIP_FLAGS: "--pre"
        run: |
          source .github/scripts/setup-build-env.sh

      - name: Build and install
        run: |
          pip install -v --no-build-isolation .

      - name: Install test dependencies
        # See special clause inside setup-test-env.sh that detects when
        # free threaded build is used, and then installs dependencies
        # from nightly wheels
        env:
          PIP_FLAGS: "--pre"
        run: |
          source .github/scripts/setup-test-env.sh

      - name: Run tests
        env:
          PYTHON_GIL: 0
          # A lazy loader configuration parameter
          EAGER_IMPORT: ${{ matrix.EAGER_IMPORT }}
        run: |
          # don't run doctest for now because of formatting issues
          # (cd .. && $PYTEST --doctest-plus --showlocals --pyargs skimage)
          (cd .. && $PYTEST --showlocals --pyargs skimage)
