name: Build Wheels and Release
on:
  push:
    tags:
      - v*
    branches:
      - maintenance/**

concurrency:
  # Cancel previous workflows on the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  call-workflow-build-wheels:
    uses: ./.github/workflows/wheels_recipe.yml

  deploy:
    name: Release
    needs: call-workflow-build-wheels
    if: github.repository_owner == 'scikit-image' && startsWith(github.ref, 'refs/tags/v') && always()
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write # for softprops/action-gh-release to create GitHub release
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
      attestations: write # for GitHub attestations
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: "3.12"

      - uses: actions/download-artifact@v3
        id: download
        with:
          name: wheels
          path: ./dist

      - name: Build the source distribution
        run: |
          SK_VERSION=$(git describe --tags)
          source tools/github/before_install.sh
          python -m build --no-isolation --skip-dependency-check --sdist .
          ls -la ${{ github.workspace }}/dist

      - name: Generate artifact attestation for sdist and wheels
        uses: actions/attest-build-provenance@173725a1209d09b31f9d30a3890cf2757ebbff0d # v1.1.2
        with:
          subject-path: "dist/scikit_image-*"

      - name: Verify the distribution
        run: pipx run twine check --strict dist/*

      # Ensure that a compromised twine couldn't have altered the distributions
      - name: Verify artifact attestation
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          for artifact in dist/*; do
              echo "# ${artifact}"
              gh attestation verify "${artifact}" --repo ${{ github.repository }}
          done

      # We prefer to release wheels before source because otherwise there is a
      # small window during which users who pip install scikit-image will require compilation.
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@81e9d935c883d0b210363ab89cf05f3894778450 # v1.8.14

      - name: Github release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
