name: Release wheels
# Workflow to build wheels and publish to PyPI if tagged

on:
  push:
    tags:
      - v*
    branches:
      - maintenance/**
  pull_request:
    paths:
      - ".github/workflows/wheels-test-and-release.yaml"
      - ".github/workflows/wheels-recipe.yaml"

concurrency:
  # Cancel previous workflows on the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  call-workflow-build-wheels:
    name: Wheels recipe
    uses: ./.github/workflows/wheels-recipe.yaml

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
      attestations: write # for GitHub attestations
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: hynek/build-and-inspect-python-package@v2
        with:
          attest-build-provenance-github: ${{ github.event_name == 'push' && 'true' || 'false' }}
          skip-wheel: "true"

  deploy:
    name: Release
    needs: [call-workflow-build-wheels, build_sdist]
    if: github.repository_owner == 'scikit-image' && startsWith(github.ref, 'refs/tags/v') && always()
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/download-artifact@v5
        id: download
        with:
          pattern: wheels-*
          merge-multiple: true
          path: ./dist

      - uses: actions/download-artifact@v5
        id: download-sdist
        with:
          name: Packages
          path: ./dist

      - name: Remove distributions that PyPI doesn't support
        run: |
          find ./dist -name '*wasm32.whl' -delete -print
          echo "::notice::Remaining distributions to upload"
          ls -Al ./dist

      # We prefer to release wheels before source because otherwise there is a
      # small window during which users who pip install scikit-image will require compilation.
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

      - name: Github release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
