name: Build Wheels and Release
on:
  push:
    tags:
      - v*
    branches:
      - maintenance/**

concurrency:
  # Cancel previous workflows on the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  call-workflow-build-wheels:
    uses: ./.github/workflows/wheels-recipe.yaml

  deploy:
    name: Release
    needs: call-workflow-build-wheels
    if: github.repository_owner == 'scikit-image' && startsWith(github.ref, 'refs/tags/v') && always()
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write # for softprops/action-gh-release to create GitHub release
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
      attestations: write # for GitHub attestations
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: "3.12"
          # Important! No caching for wheel build to avoid cache poisoning

      - uses: actions/download-artifact@v5
        id: download
        with:
          pattern: wheels-*
          merge-multiple: true
          path: ./dist

      - name: Install sdist build dependencies
        run: |
          source .github/scripts/setup-build-env.sh

      - name: Build the source distribution
        run: |
          SK_VERSION=$(git describe --tags)
          spin sdist -- --no-isolation --skip-dependency-check
          ls -la ${{ github.workspace }}/dist

      - name: Generate artifact attestation for sdist and wheels
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2.4.0
        with:
          subject-path: "dist/scikit_image-*"

      - name: Verify the distribution
        run: pipx run twine check --strict dist/*

      # Ensure that a compromised twine couldn't have altered the distributions
      - name: Verify artifact attestation
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          for artifact in dist/*; do
              echo "# ${artifact}"
              gh attestation verify "${artifact}" --repo ${{ github.repository }}
          done

      # We prefer to release wheels before source because otherwise there is a
      # small window during which users who pip install scikit-image will require compilation.
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4

      - name: Github release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
